version: '3.9'
services:
  bot:
    build: .
    env_file:
      - .env
    restart: unless-stopped
    mem_limit: 1g
    volumes:
      - ./data:/app/data

    command: ["bash", "/app/start-bot.sh"]
